#home .header{
    z-index: 10;
}

#home .header .wrap-profile{
    width: 11.5em;
    height: 11.5em;
    z-index: 2;
}

#home .header .background{
    width: 90%;
    margin-bottom: 4%;
}

#home .header .background h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.500);
    margin: 0;
}

#home .header .background h1:nth-child(1){
    margin-left: -650px;
    font-size: 8em;
}

#home .header .background h1:nth-child(2){
    font-size: 9em;
    margin-right: 20px;
    margin-top: -37px;
    margin-bottom: -30px;
    letter-spacing: 5px;
}

#home .header .background h1:nth-child(3){
    display: none;
}

#home .header .background h1:nth-child(4){
    margin-right: -630px;
    font-size: 5em;
    z-index: 2;
    font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){    
    #home .header .wrap-profile{
        width: 13.5em;
        height: 13.5em;
    }
    
    #home .header .background{
        width: 100%;
        margin-bottom: 20px;
    }
    
    #home .header .background h1:nth-child(1){
        margin-left: 0;
        letter-spacing: 10px;
    }
    
    #home .header .background h1:nth-child(2){
        margin-right: 6px;
        margin-top: 0px;
        margin-bottom: 20px;
        letter-spacing: 15px;
    }

    #home .header .background h1:nth-child(3){
        display: none;
    }
    
    #home .header .background h1:nth-child(4){
        margin-right: 0;
        font-size: 6em;
        letter-spacing: 10px;
    }
    
}

@media only screen and (max-width: 767px){
    #home .header{
        flex-wrap: wrap;
        padding-bottom: 7vh;
    }

    #home .header div:not(:last-child){
        margin: 30px 0px;
    }

    #home .header .wrap-profile{
        width: 10.5em;
        height: 10.5em;
    }

    #home .header .background{
        width: 100%;
        position: static !important;
    }

    #home .header .background h1{
        margin: 0;
        font-size: 3.5em !important;
        margin-bottom: -20px;
    }

    #home .header .background h1:nth-child(1){
        margin-left: 0px;
    }
    
    #home .header .background h1:nth-child(2){
        display: none;
    }
    
    #home .header .background h1:nth-child(3){
        display: block;
    }
    
    #home .header .background h1:nth-child(4){
        margin-right: 0px;
    }

    #home .desc{
        font-size: 13px;
    }
}

@media only screen and (max-width: 281px){
    #home .header .wrap-profile{
        width: 9.5em;
        height: 9.5em;
    }

    #home .header .background h1{
        font-size: 3em !important;
    }

    #home .desc{
        font-size: 10px;
    }
}