#home .navbar{
    height: 9%;
    z-index: 999;
}

#home .navbar div:nth-child(2) a:not(:last-child){
    margin-right: 40px;
}

#home .btn-nav{
    width: 53px;
    height: 53px;
    transform: scale(0.0);
    transition: ease-in-out 0.5s;
    top: 20%;
    right: 2.5%;
    z-index: 999;
    background-color: rgb(20, 20, 20);
}

#home .btn-nav.active{
    top: 5%;
    transform: scale(1.5);
}

#home .btn-nav.active:hover{
    transform: scale(1.7);
}

#home .wrap-sidebar{
    z-index: 0;
    transition: all ease-in-out 1s;
    background-color: transparent;
}

#home .wrap-sidebar.active{
    z-index: 888;
    background-color: rgba(0,0,0,0.250);
    backdrop-filter: blur(5px);
}

#home .wrap-sidebar .sidebar{
    width: 38%;
    right: -100%;
    background-color: #1C1D20;
    transition: all ease-in-out 0.9s;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: 900;
}

#home .wrap-sidebar .sidebar.active{
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.box-sidebar{
    width: 70%;
}

.box-sidebar a.active{
    border-bottom: solid 1px white;
}

.box-sidebar p:nth-child(1){
    font-size: 13px;
    padding-bottom: 25px;
    font-weight: 300;
}

.box-sidebar a:nth-child(2){
    margin-top: 40px;
}

.box-sidebar a{
    font-size: 3.5em;
    margin: 0;
    display: block;
    color: white;
}

.box-sidebar p:nth-child(6){
    margin-top: 120px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 300;
}

.box-sidebar a:nth-child(7){
    font-size: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #home .navbar{
        height: 7%;
    }
    
    #home .btn-nav{
        right: 6%;
        top: 5%;
    }

    #home .wrap-sidebar{
        transition: all 0s;
    }
    
    #home .wrap-sidebar .sidebar{
        width: 100%;
        transition: all 0s;
    }
}

@media only screen and (max-width: 767px){
    #home .navbar div:nth-child(2){
        display: none;
    }

    #home .navbar{
        height: 8%;
        padding: 0px 5% !important;
    }
    
    #home .btn-nav{
        width: 30px;
        height: 30px;
        right: 7%;
        top: 5%;
    }

    #home .wrap-sidebar{
        transition: all 0s;
    }

    #home .wrap-sidebar .sidebar{
        width: 100%;
        transition: all 0s;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}