#home .navbar{
    height: 9%;
    z-index: 999;
}

#home .navbar div:nth-child(2) a:not(:last-child){
    margin-right: 40px;
}

#home .btn-nav{
    width: 53px;
    height: 53px;
    transform: scale(0.0);
    transition: ease-in-out 0.5s;
    top: 20%;
    right: 2.5%;
    z-index: 999;
    background-color: rgb(20, 20, 20);
}

#home .btn-nav.active{
    top: 5%;
    transform: scale(1.5);
}

#home .btn-nav.active:hover{
    transform: scale(1.7);
}

#home .wrap-sidebar{
    z-index: 0;
    transition: all ease-in-out 1s;
    background-color: transparent;
}

#home .wrap-sidebar.active{
    z-index: 888;
    background-color: rgba(0,0,0,0.200);
}

#home .wrap-sidebar .sidebar{
    width: 35%;
    right: -100%;
    background-color: rgb(25, 25, 25);
    transition: all ease-in-out 0.9s;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}

#home .wrap-sidebar .sidebar.active{
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #home .navbar{
        height: 7%;
    }
    
    #home .btn-nav{
        right: 6%;
    }
    
    #home .wrap-sidebar .sidebar{
        width: 100%;
        transition: all ease-in-out 0.5s;
    }
}

@media only screen and (max-width: 767px){
    #home .navbar div:nth-child(2){
        display: none;
    }

    #home .navbar{
        height: 8%;
        padding: 0px 3% !important;
    }
    
    #home .btn-nav{
        width: 30px;
        height: 30px;
        right: 7%;
    }

    #home .wrap-sidebar .sidebar{
        width: 100%;
        transition: all ease-in-out 0.5s;
    }
}