.content{
    /* padding-top: 60px; */
    padding-top: 0 !important;
    /* border: solid 1px red; */
}

.content h1{
    margin-bottom: 60px;
    font-size: 2.7em;
}

.wrap-photo{
    width: 25%;
}

.wrap-photo h2{
    margin-top: 30px;
}

.wrap-photo div{
    width: 100%;
    aspect-ratio: 16/10;
}

.wrap-desc h2{
    /* border-top: solid 0.5px black; */
    padding-bottom: 5px;
    /* padding-top: 30px; */
}

.wrap-desc p{
    color: rgba(0,0,0,0.550);
}

.icon{
    margin-top: 40px;
}

.icon svg{
    height: 80px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){        
    .wrap-photo{
        width: 40%;
    }

    .wrap-photo:last-child{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px){
    .content h1{
        font-size: 2em;
        padding: 0px 15%;
        margin-bottom: 30px;
    }
    
    
    .wrap-photo{
        width: 90%;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: solid 1px rgba(0,0,0,0.250);
        padding-top: 0px;
    }
    
    .wrap-desc p{
        display: none;
    }
    
    .icon{
        margin-top: 40px;
    }
    
    .icon svg{
        height: 50px;
        margin: 0px 20px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 280px){
    .content h1{
        margin-bottom: 60px;
        font-size: 2em;
        padding: 0px 5%;
    }

    .icon svg{
        height: 30px;
    }
}