#NHome .header{
    background-color: #1D1C20;
    min-height: 100vh;
}

#NHome .container{
    padding-top: 40px;
    align-items: start;
}

#NHome .wrap-title{
    width: 45%;
}

#NHome .header .title{
    font-size: 90px;
    font-weight: 600;
    line-height: 1;
}

#NHome .header .body{
    padding-right: 20%;
    font-size: 18px;
}

#NHome .header .photo{
    width: 470px;
    height: 580px;
    background-color: rgb(36, 36, 36);
    z-index: 1;
    background-image: url("https://plus.unsplash.com/premium_photo-1675034809344-1d7ac696e7c7?auto=format&fit=crop&q=80&w=2787&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

#NHome .header .ig{
    padding: 20px 24px;
    font-size: 20px;
    background-color: #fefefe;
    bottom: -7%;
    transition: background-color 0.5s;
}

#NHome .header .ig:hover{
    background-color: #FFD100;
}

#NHome .header .github{
    padding: 20px 24px;
    font-size: 20px;
    background-color: #fefefe;
    bottom: -7%;
    left: 8%;
    transition: background-color 0.5s;
}

#NHome .header .github:hover{
    background-color: #FFD100;
}

#NHome .header .circle{
    width: 900px;
    height: 900px;
    bottom: -50%;
    right: -10%;
    background-color: #FFD100;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #NHome .header{
        display: block !important;
        /* padding-top: 100px; */
    }
    
    #NHome .container{
        padding-top: 140px;
        padding-bottom: 30px;
        display: block !important;
    }
    
    #NHome .wrap-title{
        width: 100%;
    }
    
    #NHome .header .title{
        font-size: 75px;
    }
    
    #NHome .header .body{
        padding-right: 40%;
        font-size: 20px;
    }
    
    #NHome .header .photo{
        width: 410px;
        height: 540px;
        margin-left: auto;
        margin-top: 70px;
    }
    
    #NHome .header .ig{
        font-size: 20px;
        bottom: auto;
        top: 50.3%;
        background-color: #FFD100;
    }

    #NHome .header .github{
        font-size: 20px;
        bottom: auto;
        left: 14%;
        top: 50.3%;
        background-color: #FFD100;
    }

    #NHome .header .circle{
        width: 1200px;
        height: 1200px;
        bottom: -60%;
        right: -44.5%;
        /* background-color: #fefefe; */
    }
}

@media only screen and (max-width: 767px){
    #NHome .header{
        display: block !important;
        /* padding-top: 100px; */
    }
    
    #NHome .container{
        padding-top: 110px;
        padding-bottom: 30px;
        display: block !important;
    }
    
    #NHome .wrap-title{
        width: 100%;
    }
    
    #NHome .header .title{
        font-size: 45px;
    }
    
    #NHome .header .body{
        padding-right: 10%;
        font-size: 16px;
        margin-bottom: 40px;
    }
    
    #NHome .header .photo{
        width: 90%;
        height: auto;
        aspect-ratio: 4/5;
        margin-left: 5%;
        margin-top: 60px;
        /* display: none; */
    }
    
    #NHome .header .ig{
        padding: 10px 14px;
        position: static !important;
    }

    #NHome .header .github{
        padding: 10px 14px;
        margin-left: -10px;
        position: relative !important;
    }

    #NHome .header .github:hover{
        
    }

    #NHome .header .github::after {
        content: "";
        position: absolute;
        width: 50vw; /* Lebar garis putih */
        height: 2px;
        background-color: white;
        top: 50%;
        left: 0; /* Menempatkan garis di sebelah kanan elemen "github" */
    }
    

    #NHome .header .circle{
        width: 900px;
        height: 900px;
        bottom: -67%;
        right: -100%;
        /* background-color: #fefefe; */
    }
}

@media only screen and (max-width: 280px){

}