#NHome .header{
    background-color: #f8f8f8;
    min-height: 100vh;
}

#NHome .header .container{
    /* padding-top: 80px; */
    /* align-items: center; */
}

#NHome .header .top{
    align-items: center;
    margin-bottom: 35px;
}

#NHome .header .wrap-title{
    width: 50%;
    padding-bottom: 100px;
}

#NHome .header .title{
    font-size: 60px;
    font-family: 'font-title';
    /* font-weight: 400; */
    /* text-transform: uppercase; */
    line-height: 1.1;
    /* margin-bottom: 20px; */
}

#NHome .header .body{
    line-height: 1.3;
    padding-right: 30%;
    font-size: 17px;
}

#NHome .header .photo{
    width: 50%;
    aspect-ratio: 16/12;
    background-image: url("https://images.unsplash.com/photo-1481214110143-ed630356e1bb?auto=format&fit=crop&q=80&w=2787&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

#NHome .header .ig{
    background-color: #1C1D20;
    padding: 30px 35px;
    font-size: 20px;
}

#NHome .header .github{
    background-color: #1C1D20;
    padding: 30px 35px;
    font-size: 20px;
    /* left: 17%; */
    margin-left: 100px;
}

#NHome .header .twitter{
    background-color: #1C1D20;
    padding: 30px 35px;
    font-size: 20px;
    /* left: 34%; */
    margin-left: 200px;
}

#NHome .header .featured{
    padding: 1% 0;
}

#NHome .header .featured div{
    background-color: #1C1D20;
    color: white;
    padding: 10px 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #NHome .header{
        align-content: center !important;
    }
    
    #NHome .header .container{
        padding-top: 100px;
    }
    
    #NHome .header .top{
        /* align-items: center; */
        margin-bottom: 35px;
        /* display: block !important; */
        flex-direction: column-reverse;
    }
    
    #NHome .header .wrap-title{
        width: 100%;
        padding-bottom: 40px;
        font-size: 30px;
    }
    
    #NHome .header .title{
        font-size: 2em;
        /* font-weight: bold;
        line-height: 1; */
        margin-bottom: 20px;
    }
    
    #NHome .header .body{
        /* line-height: 1.3; */
        padding-right: 5%;
        font-size: 20px;
    }
    
    #NHome .header .photo{
        width: 100%;
        margin-bottom: 20px;
        /* aspect-ratio: 16/11;
        background-image: url("https://images.unsplash.com/photo-1481214110143-ed630356e1bb?auto=format&fit=crop&q=80&w=2787&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center;
        background-size: cover; */
    }
    
    #NHome .header .ig{
        /* background-color: #1C1D20; */
        padding: 10px 15px;
        /* font-size: 20px; */
    }
    
    #NHome .header .github{
        /* background-color: #1C1D20; */
        padding: 10px 15px;
        /* font-size: 20px; */
        left: auto;
        margin-left: 60px;
    }
    
    #NHome .header .twitter{
        /* background-color: #1C1D20; */
        padding: 10px 15px;
        /* font-size: 20px; */
        left: auto;
        margin-left: 120px;
    }
    
    #NHome .header .featured{
        padding: 1% 0;
        position: static !important;
        /* border: solid 1px blue; */
        width: 85%;
    }

    #NHome .header .featured p{
        text-align: start !important;
        /* margin-left: 3%; */
        /* border: solid 1px red; */
        position: relative;
    }

    #NHome .header .featured p:after{
        content: "";
        position: absolute;
        width: 500px;
        height: 1px;
        background-color: #1d1c206d;
        top: 50%;
        right: 3%;
    }
    
    #NHome .header .featured div{
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 767px){
    #NHome .header{
        align-content: center !important;
    }
    
    #NHome .header .container{
        padding-top: 100px;
    }
    
    #NHome .header .top{
        /* align-items: center; */
        margin-bottom: 35px;
        /* display: block !important; */
        flex-direction: column-reverse;
    }
    
    #NHome .header .wrap-title{
        width: 100%;
        padding-bottom: 40px;
    }
    
    #NHome .header .title{
        font-size: 2.3em;
        /* font-weight: bold;
        line-height: 1; */
        margin-bottom: 10px;
    }
    
    #NHome .header .body{
        /* line-height: 1.3; */
        padding-right: 5%;
        font-size: 16px;
    }
    
    #NHome .header .photo{
        width: 100%;
        margin-bottom: 20px;
        /* aspect-ratio: 16/11;
        background-image: url("https://images.unsplash.com/photo-1481214110143-ed630356e1bb?auto=format&fit=crop&q=80&w=2787&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-position: center;
        background-size: cover; */
    }
    
    #NHome .header .ig{
        /* background-color: #1C1D20; */
        padding: 10px 15px;
        /* font-size: 20px; */
    }
    
    #NHome .header .github{
        /* background-color: #1C1D20; */
        padding: 10px 15px;
        /* font-size: 20px; */
        left: auto;
        margin-left: 60px;
    }
    
    #NHome .header .twitter{
        /* background-color: #1C1D20; */
        padding: 10px 15px;
        /* font-size: 20px; */
        left: auto;
        margin-left: 120px;
    }
    
    #NHome .header .featured{
        padding: 1% 0;
        position: static !important;
    }

    #NHome .header .featured p{
        text-align: start !important;
        margin-left: 3%;
        position: relative;
    }

    #NHome .header .featured p:after{
        content: "";
        position: absolute;
        width: 200px;
        height: 1px;
        background-color: #1d1c206d;
        top: 50%;
        right: 3%;
    }
    
    #NHome .header .featured div{
        /* background-color: black;
        color: white; */
        padding: 10px 15px;
    }
}

@media only screen and (max-width: 280px){

}