#home .content .porto{
    background-color: #00171F;
    padding-top: 40px;
    padding-bottom: 10px;
}

#home .content .porto .some-porto{
    overflow: scroll;
    white-space: nowrap;
    margin-bottom: 30px;
    pointer-events: none;
}

#home .content .porto .some-porto div div{
    width: 400px;
    height: 280px;
    padding: 30px;
    display: inline-block;
}

#home .content .porto .some-porto div div:not(:last-child){
    margin-right: 40px;
}

#home .content .porto .programming{
    margin-top: 30px;
    padding: 0px 10%;
}

#home .content .porto .programming p{
    font-size: 1.2em;
    width: 70%;
}

#home .content .porto .programming a{
    width: 120px;
    height: 120px;
    transition: ease-in-out 0.5s;
}

#home .content .porto .programming a:hover{
    transform: scale(1.1);
}