*{
  user-select: none;
}

#photos .header{
  background-image: url('./../img/bromoPhotos.webp');
  background-position: center;
  background-size: cover;
}

#photos i{
  margin: 30px;
  padding: 0px 20px;
  transition: 0.5s;
  z-index: 999;
}

#photos i:hover{
  transform: scale(1.1);
}

#photos .header div{
  background-color: #EAE0D5;
  mix-blend-mode: screen;
}

#photos .header div h1{
  font-size: 12vw;
  text-shadow: 0px 0px 10px black;
}

#photos .header div h1 span{
  font-weight: bold;
}

#photos .content .img-photos-1{
  width: 45%;
  margin-right: 20%;
}

#photos .content .title-hiking{
  padding-right: 2%;
}

#photos .desc-photos-1 p:nth-child(1){
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: -35px;
}

#photos .desc-photos-1 p:nth-child(2){
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
}

#photos .content .img-photos-2{
  width: 45%;
  margin-right: 10%;
}

#photos .content .img-photos-3{
  width: 45%;
  margin-right: 20%;
}

#photos .desc-photos-3{
  width: 30%;
}

#photos .desc-photos-3 p:nth-child(1){
  font-size: 35px;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: -35px;
  padding-right: 20px;
}

#photos .desc-photos-3 p:nth-child(2){
  font-family: 'Abril Fatface', cursive;
  font-size: 80px;
}

#photos .content .img-photos-4{
  width: 45%;
}

#photos .circle-1{
  right: -10%;
  width: 400px;
  height: 400px;
  background-color: #EAE0D5;
  top: -30%;
}

#photos .circle-2{
  width: 500px;
  height: 500px;
  left: -20%;
  top: -15%;
  background-color: #EAE0D5;
}

#photos .circle-3{
  width: 400px;
  height: 400px;
  right: -10%;
  background-color: #EAE0D5;
}

#photos .circle-4{
  width: 400px;
  height: 400px;
  left: -10%;
  bottom: -10%;
  background-color: #EAE0D5;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  #photos i{
    font-size: 35px !important;
  }

  #photos .header div{
    width: 10vh !important;
  }

  #photos .header div h1 span{
    display: block;
  }

  #photos .content .img-photos-1{
    width: 70%;
    margin-right: 10%;
    margin-top: 0 !important;
  }
  
  #photos .content .title-hiking{
    padding-right: 0%;
    margin-top: 7%;
  }
  
  #photos .desc-photos-1 p:nth-child(1){
    font-size: 30px;
    margin-bottom: -25px;
    margin-left: 7%;
  }
  
  #photos .desc-photos-1 p:nth-child(2){
    font-size: 70px;
  }
  
  #photos .content .img-photos-2{
    width: 70%;
    margin-right: 10%;
  }
  
  #photos .content .img-photos-3{
    width: 70%;
    margin-right: 0%;
    margin-left: 10%;
  }
  
  #photos .desc-photos-3{
    width: auto;
  }
  
  #photos .desc-photos-3 p:nth-child(1){
    font-size: 30px;
  }
  
  #photos .desc-photos-3 p:nth-child(2){
    font-size: 70px;
  }
  
  #photos .content .img-photos-4{
    width: 70%;
  }
  
  #photos .circle-1{
    right: -10%;
    width: 300px;
    height: 300px;
    top: -10%;
  }
  
  #photos .circle-2{
    width: 400px;
    height: 400px;
    left: -25%;
    top: -30%;
  }
  
  #photos .circle-3{
    width: 250px;
    height: 250px;
    right: -10%;
    top: 0;
  }
  
  #photos .circle-4{
    width: 200px;
    height: 200px;
    left: -5%;
    bottom: -3%;
  } 
}

@media only screen and (max-width: 767px){
  #photos i{
    margin: 20px;
  }

  #photos .header div{
    width: 10vh !important;
  }

  #photos .header div h1 span{
    display: block;
  }

  #photos .content .img-photos-1{
    width: 80%;
    margin-right: 10% ;
    margin-top: 0 !important;
  }
  
  #photos .content .title-hiking{
    padding-right: 0%;
  }
  
  #photos .desc-photos-1 p:nth-child(1){
    font-size: 25px;
    margin-bottom: -25px;
    margin-left: 7%;
  }
  
  #photos .desc-photos-1 p:nth-child(2){
    font-size: 60px;
  }
  
  #photos .content .img-photos-2{
    width: 80%;
    margin-right: 10%;
  }
  
  #photos .content .img-photos-3{
    width: 80%;
    margin-right: 0%;
    margin-left: 10%;
  }
  
  #photos .desc-photos-3{
    width: auto;
  }
  
  #photos .desc-photos-3 p:nth-child(1){
    font-size: 25px;
  }
  
  #photos .desc-photos-3 p:nth-child(2){
    font-size: 60px;
  }
  
  #photos .content .img-photos-4{
    width: 80%;
  }
  
  #photos .circle-1{
    right: -10%;
    width: 100px;
    height: 100px;
    top: -10%;
  }
  
  #photos .circle-2{
    width: 200px;
    height: 200px;
    left: -25%;
    top: -30%;
  }
  
  #photos .circle-3{
    width: 200px;
    height: 200px;
    right: -30%;
  }
  
  #photos .circle-4{
    width: 150px;
    height: 150px;
    left: -20%;
    bottom: -5%;
  }  
}

@media only screen and (max-width: 280px){
  #photos .circle-1{
    width: 80px;
    height: 80px;
  }

  #photos .circle-3{
    width: 150px;
    height: 150px;
    right: -25%;
    top: 30%;
  }
}