#page-porto{
  min-height: 100vh;
}

#page-porto .btn{
  transition: 0.5s;
}

#page-porto .btn:hover{
  transform: scale(1.1);
}

#page-porto .wrap-porto{
  padding-left: 10%;
  padding-right: 10%;
}

#page-porto .back i{
  margin: 30px;
  padding: 0px 20px;
  transition: 0.5s;
  z-index: 999;
}

#page-porto .back i:hover{
  transform: scale(1.1);
}

#page-porto h1{
  font-family: 'Abril Fatface', cursive;
  margin-top: 40px;
  font-size: 50px;
}

#page-porto p{
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  #page-porto .wrap-porto{
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media only screen and (max-width: 767px){
  #page-porto .wrap-porto{
    padding-left: 0%;
    padding-right: 0%;
  }

  #page-porto .back i{
    margin: 20px;
  }

  #page-porto h1{
    font-size: 40px;
    margin: 0;
    margin-top: 60px;
  }

  #page-porto p{
    font-size: 15px;
  }
}