#NHome .content .container{
    /* background-color: #f8f8f8; */
    /* height: 150vh; */
    padding-top: 120px;
}

#NHome .content .wrap-title{
    /* padding: 0 7%; */
}

#NHome .content .title{
    width: 50%;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3;
    font-family: "font-title";
}

#NHome .content .body{
    width: 25%;
}

#NHome .content .line-about-me{
    width: 200vw;
    height: 1px;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.377);
}

#NHome .content .wrap-circle-about-me{
    height: 250px;
}

#NHome .content .circle-about-me{
    padding: 70px 45px;
    font-size: 15px;
    background-color: #f8f8f8;
    top: 0;
    margin-top: 40px !important;
    right: 23%;
    font-weight: 400;
    transition: background-color 1s;
}

#NHome .content .circle-about-me:hover{
    background-color: #D5FF3F;
}

#NHome .content .wrap-selected-porto .title{
    padding-left: 70px;
    font-family: "font-title";
}

#NHome .content .porto{
    height: 450px;
    padding: 0 30px;
    margin-bottom: 50px;
}

#NHome .content .photo-porto{
    background-position: center;
    background-size: cover;
    height: 400px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #NHome .content .container{
        /* background-color: #f8f8f8; */
        /* height: 150vh; */
        padding-top: 40px;
    }
    
    #NHome .content .wrap-title{
        /* padding: 0 7%; */
        flex-wrap: wrap;
    }
    
    #NHome .content .title{
        width: 100%;
        font-size: 30px;
        /* font-weight: 400; */
        margin-bottom: 10px !important;
    }
    
    #NHome .content .body{
        width: 100%;
        font-size: 20px;
    }
    
    #NHome .content .line-about-me{
        /* width: 200vw;
        height: 1px;
        top: 50%; */
        /* background-color: #1d1c206d; */
        display: none;
    }
    
    #NHome .content .wrap-circle-about-me{
        height: 170px;
    }
    
    #NHome .content .circle-about-me{
        padding: 70px 45px;
        font-size: 15px;
        background-color: #1D1C20;
        top: 0;
        right: auto;
        left: 0;
        font-weight: 400;
    }   
}

@media only screen and (max-width: 767px){
    #NHome .content .container{
        /* background-color: #f8f8f8; */
        /* height: 150vh; */
        /* padding-top: 40px; */
    }
    
    #NHome .content .wrap-title{
        /* padding: 0 7%; */
        flex-wrap: wrap;
    }
    
    #NHome .content .title{
        width: 100%;
        font-size: 26px;
        /* font-weight: 400; */
        margin-bottom: 10px !important;
    }
    
    #NHome .content .body{
        width: 100%;
        font-size: 16px;
    }
    
    #NHome .content .line-about-me{
        /* width: 200vw;
        height: 1px;
        top: 50%; */
        /* background-color: #1d1c206d; */
        display: none;
    }
    
    #NHome .content .wrap-circle-about-me{
        height: 145px;
    }
    
    #NHome .content .circle-about-me{
        padding: 45px 20px;
        font-size: 14px;
        /* background-color: #1D1C20; */
        top: 0;
        right: auto;
        left: 0;
        font-weight: 400;
        margin-top: 0 !important;
    }   

    #NHome .content .wrap-selected-porto .title{
        padding-left: 0;
        text-align: end;
        /* padding-right: 5%; */
        font-family: "poppins";
        font-size: 15px;
    }
    
    #NHome .content .porto{
        height: 450px;
        padding: 0 0;
        margin-bottom: 20px;
        border: solid 1px white;
    }
    
    #NHome .content .photo-porto{
        background-position: center;
        background-size: cover;
        height: 400px;
    }
}

@media only screen and (max-width: 280px){
    /* #NHome .content .circle-about-me{
        padding: 70px 45px;
        font-size: 15px;
        background-color: #1D1C20;
        top: 0;
        right: auto;
        left: 0;
        font-weight: 400;
    }    */
}