#NHome .wrap-wrapping{
    height: 200px;
    background-color: #FFFEFE;
    z-index: 2;
}

#NHome .wrap-3{
    background-color: #0A100D;
    /* transform: rotate(5deg); */
    width: 150vw;
    height: 150%;
    z-index: 2;
    bottom: 50%;
    left: -10%;
}

#NHome .wrap-4{
    background-color: #ECE8E3;
    /* transform: rotate(-10deg); */
    width: 100vw;
    height: 100%;
    z-index: 1;
    /* top: -50%; */
    bottom: 50%;
    left: -10%;
}

#NHome .promotion{
    width: 100%;
    /* margin-top: 100px; */
    /* padding: 30px 0; */
    padding-top: 200px;
    padding-bottom: 130px;
    background-color: #FFFEFE;
}

#NHome .help-title{
    font-size: 2.5em;
    padding-left: 5%;
    padding-right: 20%;
    margin-bottom: 20px;
}

#NHome .promotion-title{
    font-size: 4em;
}

#NHome .promotion-body{
    font-size: 2em;
    padding: 0 20%;
}

#NHome .field-promotion{
    margin-bottom: 100px;
}

#NHome .box-promotion{
    width: 27%;
    /* padding: 20px; */
    /* border: solid 1px #9C7843; */
}

#NHome .box-promotion i{
    font-size: 70px;
    color: #9C7843;
}

#NHome .special-title{
    font-size: 20px;
    font-weight: bold;
}

#NHome .promotion a{
    background-color: #0A100D;
}

#NHome .promotion a:hover{
    box-shadow: 0 0 5px black;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    #NHome .promotion{
        padding-top: 130px;
        padding-bottom: 100px;
    }

    #NHome .box-promotion i{
        font-size: 50px;
    }

    #NHome .promotion-title{
        font-size: 3em;
    }
    
    #NHome .promotion-body{
        font-size: 1.5em;
        padding: 0 10%;
    }

    #NHome .help-title{
        font-size: 2em;
        padding-right: 5%;
    }

    #NHome .field-promotion{
        margin-bottom: 60px;
    }


}

@media only screen and (max-width: 767px){
    #NHome .wrap-wrapping{
        height: 130px;
        background-color: #FFFEFE;
        z-index: 2;
    }

    /* #NHome .wrap-3{
        transform: rotate(5deg);
        bottom: 50%;
    }

    #NHome .wrap-4{
        transform: rotate(-10deg);
        bottom: 50%;
    } */

    #NHome .promotion{
        padding-top: 80px;
        padding-bottom: 70px;
    }

    #NHome .help-title{
        font-size: 24px;
        padding-left: 5%;
        padding-right: 5%;
    }

    #NHome .field-promotion{
        margin-bottom: 30px;
    }    
    
    #NHome .promotion-title{
        font-size: 30px;
    }
    
    #NHome .promotion-body{
        font-size: 15px;
        padding: 0 5%;
    }
    
    #NHome .promotion a{
        background-color: #0A100D;
    }
    
    #NHome .promotion a:hover{
        box-shadow: 0 0 5px black;
    }

    #NHome .box-promotion{
        width: 90%;
        padding: 0 20px;
        margin-bottom: 20px;
        border: solid 1px #9C7843;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
    }
}