.custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 999;
    mix-blend-mode: difference;
    /* padding: 0px; */
    justify-content: center;
    align-items: center;
    display: none;
    mix-blend-mode: normal !important;
    background-position: center;
    background-size: cover;
}

.cursor-text{
    font-size: 5px;
    /* position: absolute; */
    /* letter-spacing: 1px; */
    display: none;
    font-size: 4px;
}

@media only screen and (max-width: 1024px){
    .custom-cursor{
        display: none !important;
    }
}