#header a{
  font-size: 4em;
  font-family: 'Abril Fatface', cursive;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.75;
}

#header span{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 0.1em;
  user-select: none;
}

#header .img{
  width: 550px;
  filter: brightness(60%);
}

#header .img-1{
  left: -13%;
  top: -1%;
  transform: rotate(20deg);
}

#header .img-2{
  right: -13%;
  top: 30%;
  transform: rotate(-30deg);
}

#header .spinner-grow{
  opacity: 0;
  transition: ease-out 0.5s;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  #header .img{
    width: 450px;
    filter: brightness(60%);
  }
  
  #header .img-1{
    left: -10%;
    top: -1%;
    transform: rotate(30deg);
  }
  
  #header .img-2{
    width: 400px;
    right: -10%;
    top: 62%;
    transform: rotate(-20deg);
  }
}

@media only screen and (max-device-width: 767px){
  #header a{
    font-size: 200%;
  }  

  #header span{
    font-size: 14px;
  }

  #header .img{
    width: 250px;
    filter: brightness(60%);
  }
  
  #header .img-1{
    left: -20%;
    top: 5%;
    transform: rotate(30deg);
  }
  
  #header .img-2{
    width: 220px;
    right: -18%;
    top: 63%;
    transform: rotate(-20deg);
  }

}

@media only screen and (max-device-width: 280px){
  #header .img{
    width: 200px;
    filter: brightness(60%);
  }

  #header .img-2{
    width: 170px;
    top: 62.5%;
  }
}