.navbar{
    height: 9%;
    z-index: 999;
}

.navbar div:nth-child(2) a:not(:last-child){
    margin-right: 40px;
}

.btn-nav{
    width: 53px;
    height: 53px;
    transform: scale(0.0);
    transition: ease-in-out 0.2s;
    top: 20%;
    right: 2.5%;
    z-index: 999;
    background-color: rgb(20, 20, 20) !important;
}

.btn-nav.active{
    top: 5%;
    transform: scale(1.5);
}

.btn-nav.active:hover{
    transform: scale(1.7);
}

.wrap-sidebar{
    z-index: 0;
    transition: all ease-in-out 1s;
    background-color: transparent;
}

.wrap-sidebar.active{
    z-index: 888;
    background-color: rgba(0,0,0,0.250);
    backdrop-filter: blur(5px);
}

.sidebar{
    width: 38%;
    right: -100%;
    background-color: #1C1D20;
    transition: all ease-in-out 0.9s;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    z-index: 900;
}

.sidebar.active{
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.box-sidebar{
    width: 70%;
}

.box-sidebar a.active{
    border-bottom: solid 1px white;
}

.box-sidebar p:nth-child(1){
    font-size: 13px;
    padding-bottom: 25px;
    font-weight: 300;
}

.box-sidebar a:nth-child(2){
    margin-top: 40px;
}

.box-sidebar a{
    font-size: 3.5em;
    margin: 0;
    display: block;
    color: white;
}

.box-sidebar p:nth-child(6){
    margin-top: 120px;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 300;
}

.box-sidebar a:nth-child(7){
    font-size: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .navbar{
        height: 7%;
    }
    
    .btn-nav{
        right: 6%;
        top: 5%;
    }
    
    .sidebar{
        width: 70%;
    }
}

@media only screen and (max-width: 767px){
    .navbar a{
        display: none;
    }

    .navbar{
        height: 8%;
        padding: 0px 5% !important;
        z-index: 700;
    }
    
    .btn-nav{
        width: 30px;
        height: 30px;
        right: 7%;
        top: 4%;
        transform: scale(1.5);
    }

    .wrap-sidebar{
        transition: all 0s;
    }

    .sidebar{
        width: 100%;
        transition: all 0s;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}