#navbar{
  height: 90px;
  padding: 0px 100px;
}

#navbar h4{
  color: white;
}

#navbar .icon{
  display: none;
}

#navbar li{
  display: inline-block;
  margin-left: 40px;
  transition: 0.5s;
}

#navbar li:hover,
#navbar li.active{
  transform: scale(1.2);
}

#navbar a{
  position: relative;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
}

#navbar a::before,
#navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s;
}

#navbar a::before {
  left: 50%;
  transform: translateX(-50%);
}

#navbar a::after {
  right: 50%;
  transform: translateX(50%);
}

#navbar a:hover::before,
#navbar a:hover::after,
#navbar a.active::before,
#navbar a.active::after,
#navbar a:hover,
#navbar a.active{
  width: 80%;
  color: white;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  #navbar{
    height: 120px;
    padding: 0px 60px;
  }

  #navbar h4{
    transform: scale(1.2);
  }

  #navbar .icon{
    font-size: 35px;
    color: white;
    display: block;
  }

  #navbar .wrapNav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    border: solid 3px blue !important;
    background-color: rgb(16,24,32);
    transition: 0.5s;
  }

  #navbar .wrapNav.active{
    right: 0;
  }

  #navbar ul{
    display: block !important;
  }

  #navbar li{
    display: block;
    margin-left: 0px;
    margin-bottom: 50%;
    transition: 0.5s;
    text-align: center;
  }

  #navbar a{
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px){
  #navbar{
    height: 90px;
    padding: 0px 20px;
  }

  #navbar .icon{
    font-size: 25px;
    color: white;
    display: block;
  }

  #navbar .wrapNav{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(16,24,32);
    transition: 0.5s;
  }

  #navbar .wrapNav.active{
    right: 0;
  }

  #navbar ul{
    display: block !important;
  }

  #navbar li{
    display: block;
    margin-left: 0px;
    margin-bottom: 50%;
    transition: 0.5s;
    text-align: center;
  }

  #navbar a{
    font-size: 18px;
  }
}

@media only screen and (max-width: 280px){

}