.navbar{
    z-index: 999;
}

.navbar a{
    color: black;
}

.navbar div:nth-child(2) a:not(:last-child){
    margin-right: 40px;
}

.navbar a.active,
.box-sidebar a.active{
    text-decoration: underline !important;
}

.btn-nav{
    display: none;
}

.box-sidebar{
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){

}

@media only screen and (max-width: 767px){
    .navbar a{
        display: none;
    }

    .navbar{
        padding: 0px 5% !important;
        z-index: 700;
    }
    
    .btn-nav{
        right: 7%;
        top: 0;
        display: block;
        z-index: 999;
    }

    .wrap-sidebar{
        transition: ease 0.8s;
        z-index: 888;
        top: -300%;
    }

    .wrap-sidebar.active{
        top: 0;
        background-color: #0A100D;
    }

    .box-sidebar{
        width: 90%;
        height: 80%;
        overflow: scroll;
        display: block;
    }

    .box-sidebar p,
    .box-sidebar a{
        color: white !important;
        font-weight: 300 !important;
    }

    .box-sidebar p:nth-child(1){
        font-size: 15px;
        margin-bottom: 80px !important;
        font-weight: 300;
    }

    .box-sidebar p:nth-child(6){
        font-size: 15px;
        margin-top: 80px !important;
        font-weight: 300;
    }

    .box-sidebar a:not(:last-child){
        font-size: 3em;
        font-weight: 500;
    }
}