@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-weight: 400;
} 

/* INI TEMA GELAP */
:root{
  --background-color: rgb(19, 19, 19);
  --title-color: rgba(255,255,255,0.9);
  --body-color: rgba(255,255,255,0.75);
}

/* INI TEMA CERAH */
[data-theme='light']{
  --background-color: rgb(243,242,241);
  --title-color: rgba(0,0,0,0.9);
  --body-color: rgba(0,0,0,0.75);
}

.container-fluid{
  background-color: var(--background-color);
  color: var(--body-color);
}