@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{
  /* cursor: none; */
}

.container-fluid{
  /* background-color: #B9BAA3; */
  background-color: #FFFEFE;
}

*{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  user-select: text;
}

::-webkit-scrollbar {
  width: 0;
}

::-moz-scrollbar {
  width: 0;
}

a{
  text-decoration: none !important;
  /* transition: ease 0.5s !important; */
  /* cursor: none !important; */
}

a:hover{
  /* transform: scale(1.1); */
}

.circle{
  width: 110px !important;
  padding: 10px;
  font-size: 15px;
  aspect-ratio: 1/1;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .circle{
    position: static;
  }
}

@media only screen and (max-width: 767px){
  .circle{
    position: static;
  }
}